#navbar .logo{
    float: none;
    text-align: center;
}

#navbar ul, #navbar ul li{
    float: none;
}
#showcase{
    height: 100%;

}
#showcase .showcase-content{
    padding-top:70px;
    padding-bottom: 30px;

}

#navbar ul li a{
    padding: 5px;
    border-bottom: #444 dotted 1px;
}

#home-info .info-img{
    display: none;
}
#home-info .info-content{
    float: none;
    width: 100%;
}

.box{
    float: none;
    width: 100%;
}

#about-info .info-right, #about-info .info-right{
    float: none;
    width: 100%;
}

.l-heading{
    text-align: center;
}

#contact-info .box{
    border-bottom: #444 dotted 1px;
}

